# APPLICATION ENVIRONMENT
APP_ENV=dev

APP_URL=http://localhost:5173

# Server Config
PORT=8000
HOST=0.0.0.0

# Development
OLLAMA_BASE_URL=http://localhost:11434

DEV_LLM_MODEL_1=
DEV_LLM_MODEL_2=

DEV_EMBED_MODEL_1=
DEV_EMBED_MODEL_2=

DEV_VECTOR_DB=

# Production
OPENAI_API_KEY=

PROD_LLM_MODEL_1=
PROD_LLM_MODEL_2=

PROD_EMBED_MODEL_1=
PROD_EMBED_MODEL_2=

PROD_VECTOR_DB=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=