# APPLICATION ENVIRONMENT
APP_ENV=dev

APP_URL=http://localhost:5173

# Server Config
PORT=8000
HOST=0.0.0.0

# Development
OLLAMA_BASE_URL=http://localhost:11434

DEV_LLM_MODEL_1=gemma4:31b-cloud
DEV_LLM_MODEL_2=gemma4:31b-cloud

DEV_EMBED_MODEL_1=qwen3-embedding:latest
DEV_EMBED_MODEL_2=qwen3-embedding:latest

# Production
OPENAI_API_KEY=sk-proj-your-openai-api-key-here

PROD_LLM_MODEL_1=gpt-4o-mini
PROD_LLM_MODEL_2=gpt-4o

PROD_EMBED_MODEL_1=text-embedding-3-small 
PROD_EMBED_MODEL_2=text-embedding-3-large 

PINECONE_API_KEY=your-pinecone-api-key-here
PINECONE_INDEX_NAME=rag-production-index