# APPLICATION ENVIRONMENT
APP_ENV=dev

APP_URL=http://localhost:5173

# Server Config
PORT=8000
HOST=0.0.0.0

# Development
OLLAMA_BASE_URL=http://localhost:11434

DEV_LLM_MODEL_1=
DEV_LLM_MODEL_2=

DEV_EMBED_MODEL_1=
DEV_EMBED_MODEL_2=

DEV_VECTOR_DB=

# Production
OPENAI_API_KEY=

PROD_LLM_MODEL_1=
PROD_LLM_MODEL_2=

PROD_EMBED_MODEL_1=
PROD_EMBED_MODEL_2=

PROD_VECTOR_DB=

# DB 
DATABASE_URL=

# Auth
JWT_REFRESH_SECRET_TOKEN=
JWT_ACCESS_SECRET_TOKEN=

JWT_REFRESH_TOKEN_EXPIRY=
JWT_ACCESS_TOKEN_EXPIRY=

JWT_ALGORITHM=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=